.main {
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    max-width: 640px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.main h1 {
    font-size: 25px;
    text-align: center;
}

.form-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}

.form-button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 0 3px #4158D0;
    border-radius: 4px;
}

.form-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #4158D0;
    border-radius: 4px;
}

.form-input {
    height: 40px;
    margin: 0 10px;
    padding: 0 20px;
    border: none;
    font-size: 18px;
    min-width: 60%;
    outline: none;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contents {
    margin-top: 40px;
}

.contents-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    transition: 0.6s;
}

.contents-list-item:hover {
    background-color: #3b86ff;
   
}

.contents-list-item-icons {
    display: flex;
    align-items: center;
}

.contents-list-item-icons-edit {
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    border: none;
    background: transparent;
}

.contents-list-item-icons-delete {
    cursor: pointer;
    transition: transform 0.5s;
    border: none;
    background: transparent;
}

.contents-list-item-icons-edit:hover,
.contents-list-item-icons-delete:hover {
    transform: scale(1.3);
}
